/* CSS declarations go here */
#signup-link {
  display: none !important;
}

nav {
  background-color: white;
}

nav ul a:hover {
  background-color: #00A7A6;
}

.nav-center ul {
  text-align: center;
}

.nav-center ul li {
  display: inline;
  float: none;
  background-color: white;
}

.nav-center ul li a {
  display: inline-block;
  color: black;
}

.mobile-menu {
  background-color: white;
  text-align: center;
}

i {
  padding: 15px;
}
